<!DOCTYPE html>
<html>
  <body>
    <p>Linear search checks every value in a list and checks if it matches the value being searched for</p>
    <img src="/images/linearsearchtimecomp.png" alt="Linear Search Graph">
    <br>
    <p>Linear search has a time complexity of O(n)</p>
    <form action="linear" method="post">
      <label for="linearList">Enter the list you want to search from</label>
      <br>
      <input type="text" name="linearList" rows="1" cols="80" placeholder="e.g: 1,7,3,5,4"></input>
      <br>
      <label for="linearValue">Enter the value you want to find</label>
      <br>
      <input type="text" name="linearValue" rows="1" cols="80" placeholder="e.g: 7"></input>
      <br>
      <input type="submit" class="btn btn-primary" name="submit"></input>
      <br>
      <<textarea name="linearOutput" rows="4" cols="80"></textarea>
    </form>
  </body>
</html>
